[% title = "コミュニティ" %]
	<h2>Debian JP コミュニティ</h2>
	<p>Debian JP Project が関連する有用な各種情報源を集めています。</p>

	<h3 id="information">各種情報を得るには</h3>
	<div>
	<table summary="information" style="margin-left: 15px;">
	<tr>
	<td style="border:none; padding: 0px 15px 0px 0px">
	<p><a  href="[% wwworg %]/News/weekly/">
	<img src="../image/newspaper.png" alt=""></a></p>
	</td>
	<td style="border:none; padding: 0px 15px 0px 0px">
	<p>Debian 界隈の最新ニュース<br>
	− <a  href="../blog/">Debian JP Project の最近の話題</a><br>
	− <a  href="[% wwworg %]/News/weekly/">Debian プロジェクトニュース</a><br>
	− <a  href="../blog/develop/">Developer News</a></p>
	</td>

	<td style="border:none; padding: 0px 15px 0px 0px">
	<p><img src="../image/mail.png" alt=""></p>
	</td>
	<td style="border:none; padding: 0px 15px 0px 0px">
	<p>主要な情報交換の場です<br>
	− <a href="../community/ml">メーリングリスト</a></p>
	</td>
	</tr>

	<tr>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p><img src="../image/chat.png" alt=""></p>
	</td>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p>雑談にどうぞ<br>
	− <a href="../community/irc.html">IRC チャンネル</a>
	</td>

	<td style="border:none; padding: 0px 10px 0px 0px">
	<p><img src="../image/earth.png" alt=""></p>
	</td>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p>コミュニティ関係者のブログ集「<a href="../community/planet.html">Planet</a>」<br>
	− <a href="http://planet.debian.or.jp/">Planet Debian JP</a>／<a href="http://planet.debian.org">Planet Debian</a></p>
	</td>
	</tr>

	<tr>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p><img src="../image/earth.png" alt=""></p>
	</td>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p>直接話を聞いてみましょう<br>
        - <a href="./events">各種イベント</a></p>
	</td>
	</td>

	<td style="border:none; padding: 0px 10px 0px 0px">
	<p><img src="../image/earth.png" alt=""></p>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p>各種Twitterアカウント<br>
        - <a href="https://twitter.com/#!/debian_jp">@debian_jp</a>、
          <a href="https://twitter.com/#!/tokyodebian">@tokyodebian</a>、
          <a href="https://twitter.com/#!/debian_hackcafe">@debian_hackcafe</a></p>
	</td>
	</tr>

	</table>
	</div>

	<h3 id="contribute">活動に参加するには</h3>

	<div>
	<table summary="contribution" style="margin-left: 15px; padding: 10px">
	<tr>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p> <img src="../image/terminal.png" alt=""></p>
	</td>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p><a href="bugreport.html">バグ報告</a> / <a href="devel">開発</a> / <a href="push-mirror.html">ミラー提供</a></p>
	</td>

	<td style="border:none; padding: 0px 10px 0px 0px">
	<p><img src="../image/documents.png" alt=""></p>
	</td>
	<td style="border:none; padding: 0px 10px 0px 0px">
	<p><a href="translate">ドキュメント/Web 翻訳</a></p>
	</td>
	</tr>

	</table>
	</div>
