[% title = "Planet Debian JP" %]
	<h2>Planet Debian JP 情報</h2>
	<p>
	Debian Project や Debian JP Project において、ブログも重要なコミュニケーションツールの一つです。
	</p>
	<p>
	Debian Project および Debian JP Project では、開発者のブログをアグリゲーションする Planet サービスを提供しています。
	開発者の視点からのDebianの開発や利用に関連した情報が得られたり、はたして Debian に関係あるのか不明な雑談まで、
	メンバーがどういうことに興味があるのか共有することができます。
	</p>
	<h2>閲覧するには</h2>
	<ul>
	<li><a href="http://planet.debian.or.jp/">Planet Debian JP</a> -- Debian JP Project のメンバーによる日本語の Planet です</li>
	<li><a href="http://planet.debian.org/">Planet Debian</a> -- Debian Developer たちによる 英語の Planet です</li>
	</ul>
	<h2>参加するには</h2>
	<p>
	Debian JP Project のメンバーでブログを <a href="http://planet.debian.or.jp/">Planet Debian JP</a> 
	に登録したい場合は、理事会宛に RSS フィードの URL を連絡してください。RSS フィードのコンテンツは Debian 
	関連の話題が中心であることが望ましいです。
	</p>
