[% title = "The Debian GNU/Linux FAQ - 注" %]

<hr>

<h2>
The Debian GNU/Linux FAQ
<br>注</h2>

<h3><a href="ch-support.html#fr1" name="f1">1</a></h3>

<p>
講読 (取消) のリクエストには <em>listname</em>-REQUEST&#64;lists.debian.org
アドレスを使ってください。
</p>

<hr>

<p>
The Debian GNU/Linux FAQ
</p>

<address>
version CVS, 2 January 2007<br>
<br>
<a href="ch-faqinfo.html#s-authors">著者, 第 15.1 節</a><br>
<br>
</address>
<hr>

