[% title = "1998年に開催されたイベント" %]
<h2>1998年に開催されたイベント</h2>
<dl>
 <dt>1998年6月22日</dt>
 <dd><a href="./0622-tlf.5">Tokyo Linux Fair Ver 0.5</a>
     (東京電機大学)</dd>
 <dt>1998年12月18日</dt>
 <dd><a href="./1218-lc98">Linux Conference 98</a> (in Internet Week 98)
     (京都国際会議場、京都宝が池)</dd>
</dl>
