
<hr>
<h3><a name="old">過去のニュース</a></h3>
<ul>
<li><a href="/blog/2023/">2023 年のニュース</a></li>
<li><a href="/blog/2022/">2022 年のニュース</a></li>
<li><a href="/blog/2021/">2021 年のニュース</a></li>
<li><a href="/blog/2020/">2020 年のニュース</a></li>
<li><a href="/blog/2019/">2019 年のニュース</a></li>
<li><a href="/blog/2018/">2018 年のニュース</a></li>
<li><a href="/blog/2017/">2017 年のニュース</a></li>
<li><a href="/blog/2016/">2016 年のニュース</a></li>
<li><a href="/blog/2015/">2015 年のニュース</a></li>
<li><a href="/blog/2014/">2014 年のニュース</a></li>
<li><a href="/blog/2013/">2013 年のニュース</a></li>
<li><a href="/blog/2012/">2012 年のニュース</a></li>
<li><a href="/blog/2011/">2011 年のニュース</a></li>
<li><a href="/blog/2010/">2010 年のニュース</a></li>
<li><a href="/blog/2009/">2009 年のニュース</a></li>
<li><a href="/blog/2008/">2008 年のニュース</a></li>
<li><a href="/blog/2007/">2007 年のニュース</a></li>
<li><a href="news-2006.html">2006 年のニュース</a></li>
<li><a href="news-2005.html">2005 年のニュース</a></li>
<li><a href="news-2004.html">2004 年のニュース</a></li>
<li><a href="news-2003.html">2003 年のニュース</a></li>
<li><a href="news-2002.html">2002 年のニュース</a></li>
<li><a href="news-2001.html">2001 年のニュース</a></li>
<li><a href="news-2000.html">2000 年のニュース</a></li>
<li><a href="news-1999.html">1999 年のニュース</a></li>
<li><a href="news-1998.html">1998 年のニュース</a></li>
<li><a href="news-1997.html">1997 年のニュース</a></li>
</ul>
 </div>
</div>

<hr>
<div class="footer">
	<p>
	このページに関するご感想・ご質問は
	<a href="/project/index.html#webadmin">webadmin at debian.or.jp</a>
	までお送りください。</p>
	<p>
	<span class="copyright">Copyright &copy;</span>
	Debian JP Project / 
	<a href="/project/license.html">ライセンス条項</a>を見る。</p>
	<p>
	<a href="http://www.debian.org/"><img src="/image/debian.gif" width="80" height="15" title="Debian" alt="powered by Debian"></a>
	<a href="http://validator.w3.org/check?uri=referer">
	<img src="/image/slogo_html401.png" width="80" height="15" title="HTML 4.01" alt="Valid HTML 4.01!"></a>
	<a href="http://jigsaw.w3.org/css-validator/">
	<img src="/image/w3c_validcssb.png" width="80" height="15" title="CSS" alt="Valid CSS!"></a></p>
</div>
</body>
</html>
