<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html lang="ja">
<head>
 <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
 <link rel="INDEX" href="index.html">
 <link rel="Debian-JP icon" href="favicon.ico">
  <title>Debian GNU/kFreeBSD インストールCD/DVDイメージ - cdimage.debian.or.jp</title>
  <style type="text/css" media="screen">
  @import url(http://www.debian.or.jp/css/debianjp.css);
  @import url(http://www.debian.or.jp/css/cdimage.css);
  </style>
 </head>
 <body>

<div id="main">
<h1><img src="http://www.debian.or.jp/image/debian-kfreebsd.png" alt="kFreeBSD Logo" width="177" height="177">Debian GNU/kFreeBSD インストールCD/DVDイメージ</h1>
<p>このサイトでは、<a href="http://www.debian.or.jp/project/donations.html#sponsor">スポンサーの協力</a>を得て Debian GNU/kFreeBSD の主要なCD/DVD用インストールイメージを配布しています。</p>

<h2></h2>
<dt><a href="http://cdimage.debian.or.jp/current/kfreebsd-amd64/iso-dvd/debian-[% stable_version %].[% stable_pointrelease %].[% stable_cdminor %]-kfreebsd-amd64-DVD-1.iso"><img src="http://www.debian.or.jp/image/media-optical.png" alt="[   ]" width="22" height="22"> PC/サーバー用DVDイメージ (64ビット)</a></dt>
<dd>現在 Windows や Mac OS X を稼働させている PC やサーバーにインストール可能な DVD イメージです。<br>
詳細は<a href="http://www.debian.org/releases/stable/kfreebsd-amd64/">インストールガイド</a>を参照してください。</dd>

<dt><a href="http://cdimage.debian.or.jp/current/kfreebsd-i386/iso-cd/debian-[% stable_version %].[% stable_pointrelease %].[% stable_cdminor %]-kfreebsd-i386-CD-1.iso"><img src="http://www.debian.or.jp/image/media-optical.png" alt="[   ]" width="22" height="22"> PC/サーバー用CDイメージ (32ビット)</a></dt>
<dd>現在 Windows や Mac OS X を稼働させている PC やサーバーにインストール可能な CD イメージです。<br>
少し古めのマシン (32ビットCPU) をターゲットにしています。<br>
詳細は<a href="http://www.debian.org/releases/stable/kfreebsd-i386/">インストールガイド</a>を参照してください。</dd>

<dt><a href="http://cdimage.debian.or.jp/[% stable_version %].[% stable_pointrelease %].[% stable_cdminor %]/kfreebsd-amd64/iso-cd/debian-[% stable_version %].[% stable_pointrelease %].[% stable_cdminor %]-kfreebsd-amd64-netinst.iso">
<img src="http://www.debian.or.jp/image/media-optical.png" alt="[   ]" width="22" height="22"><strong> PC/サーバー用 netinstイメージ
64 bit(amd64)</a> / 
<a href="http://cdimage.debian.or.jp/[% stable_version %].[% stable_pointrelease %].[% stable_cdminor %]/kfreebsd-i386/iso-cd/debian-[% stable_version %].[% stable_pointrelease %].[% stable_cdminor %]-kfreebsd-i386-netinst.iso">32 bit(i386)</a></strong></dt>
<dd>「netinst」イメージは、主要なデータをインストール中にネットワーク経由で入手します。<br>
最小限のサーバー環境を作りたい方などは、こちらを利用すると無駄が無くて良いでしょう。</dd>

<h2>kFreeBSD アーキテクチャに関する注意点</h2>
<ul>
<li>Debian GNU/kFreeBSD とは、カーネルにFreeBSDを利用したDebianです。
<li>インストール時について、若干の制限があります
<li>デスクトップの構築は<a href="http://wiki.debian.org/Debian_GNU/kFreeBSD_Desktop">こちら</a>(Debian Wiki)を参照してください。こちらにも制限がある場合があります。
<li><a href="http://wiki.debian.org/Debian_GNU/kFreeBSD">その他情報</a>について(Debian Wiki)
</ul>
<p>
</p>
</div>
</body></html>
