[% title ="BSD/Linux Day" %]
<H2>BSD/Linux Day</H2>

<P>Internet Week内 <a href="http://www.jus.or.jp/bsd-linux-day/">BSD/Linux Day</a>
  において、Debian Project について話しました。</P>

<H2>「<A href="debian/index.html">Debian Projectについて</A>」</H2>
<P>2001年12月7日 横浜パシフィコ</P>

<UL>
 <LI>発表者 鵜飼文敏(Debian Project メンバー / Debian JP Project リーダー)
</UL>
