body {
          background-position: left 40px;
          background-attachment: fixed;
          background-repeat: repeat;
          background-color: #1A1B1F;
          background-image: url(https://www.debian.or.jp/image/joy_bkground.png);

	  margin: 20px;
	  padding: 20px;}

#main {
	  background: rgba(255, 255, 255, 0.7);
}

h1{
}

h2, h3 {
          color: #000; 
          background: #fefefe;
          text-align: left; 
	  padding: 12px;
}

p, dt {
	  padding:  0.5em 1em 0.5em 1em;
}

