[% title = "ウェブページ翻訳作業マニュアル - 関連リンク" %]

<p><a name="ch-link"></a></p>
<hr>

<p>
[ <a href="ch-elisp.html">previous</a> ]
[ <a href="index.html#contents">Contents</a> ]
[ <a href="ch-translation.html">1</a> ]
[ <a href="ch-preview.html">2</a> ]
[ <a href="ch-revise.html">3</a> ]
[ <a href="ch-elisp.html">4</a> ]
[ 5 ]
[ <a href="index.html">next</a> ]
</p>

<hr>

<h2>
ウェブページ翻訳作業マニュアル
<br>Chapter 5 - 関連リンク
</h2>

<hr>
<ul>
<li>
<p>
<code><a
href="http://www.debian.or.jp/Documents/debiandoc-guidelines-ja/debiandoc-guidelines-ja.html/">
Debian JP 文書作成の指針</a></code>
</p>
</li>
</ul>
<ul>
<li>
<p>
<code><a href="http://www.debian.or.jp/Documents/trans_table/trans_table.html">
Debian 対訳表</a></code>
</p>
</li>
</ul>
<ul>
<li>
<p>
<code><a href="http://www.debian.or.jp/Documents/webtrans_howto/debwww.el">
翻訳作業支援マクロ</a></code>
</p>
</li>
</ul>
<ul>
<li>
<p>
<code><a
href="http://www.debian.or.jp/Documents/webtrans_howto/check_newest.pl">
翻訳ファイルバージョン監視スクリプト</a></code>
</p>
</li>
</ul>
<ul>
<li>
<p>
<code><a href="http://www.debian.org/">www.debian.org</a></code>
</p>
<ul>
<li>
<p>
<code><a href="http://cvs.debian.org/"> Debian Project cvs リポジトリ
(cvsweb)</a></code>
</p>
</li>
<li>
<p>
<code><a href="http://www.debian.org/devel/website/stats/"> Debian web site
translation statistics</a></code>
</p>
</li>
<li>
<p>
<code><a href="http://www.debian.org/intro/cn">
ブラウザのデフォルトの言語を設定する</a></code>
</p>
</li>
</ul>
</li>
</ul>
<ul>
<li>
<p>
<code><a href="http://www.debian.or.jp/">Debian JP Project</a></code>
</p>
<ul>
<li>
<p>
<code><a href="http://www.debian.or.jp/community/ml/openml.html#wwwML"> Debian
JP WWW ML</a></code>
</p>
</li>
<li>
<p>
<code><a
href="http://www.debian.or.jp/community/translate/webtrans_howto/webtrans_howto.ja.html">
ウェブページ翻訳作業マニュアル</a></code>
</p>
</li>
</ul>
</li>
</ul>

<hr>

<p>
[ <a href="ch-elisp.html">previous</a> ]
[ <a href="index.html#contents">Contents</a> ]
[ <a href="ch-translation.html">1</a> ]
[ <a href="ch-preview.html">2</a> ]
[ <a href="ch-revise.html">3</a> ]
[ <a href="ch-elisp.html">4</a> ]
[ 5 ]
[ <a href="index.html">next</a> ]
</p>

<hr>

<p>
ウェブページ翻訳作業マニュアル
</p>

<address>
$Id: webtrans_howto.ja.sgml,v 1.5 2001/06/19 17:34:45 tsaito Exp $<br>
<br>
Debian JP Webmasters <code><a href="mailto:debian-www&#64;debian.or.jp">debian-www&#64;debian.or.jp</a></code><br>
<br>
</address>
<hr>

