[% title = "2010年に開催されたイベント" %]
<h2>2010年に開催されたイベント</h2>
<dl>
 <dt>2010年1月23日</dt>
 <dd><a href="https://tokyodebian-team.pages.debian.net/2010-01.html">第60回 東京エリア Debian 勉強会「Bug Squashing Party」</a>
	(東京大学先端科学技術研究センター3号館 M2階)</dd>

 <dt>2010年1月24日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100124">第31回 関西 Debian 勉強会</a>
	(大阪 港区民センター 椿の間)</dd>

 <dt>2010年2月20-21日</dt>
 <dd><a href="http://wiki.debian.org/ja/Debian-Onsen">第61回 東京エリア Debian 勉強会「でびあん温泉」</a>
	(千葉 木更津高専)</dd>

 <dt>2009年2月27日</dt>
 <dd><a href="http://www.ospn.jp/osc2010-spring/modules/eventrsv/?id=2&noform=1">Open Source Conference 2010 Tokyo/Spring</a>
	(明星大学 日野キャンパス 26号館)</dd>

 <dt>2010年2月28日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100228">第32回 関西 Debian 勉強会</a>
	(大阪 福島区民センター 303会議室)</dd>

 <dt>2010年3月13日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100313">第33回関西Debian勉強会@OSC2010 Kobe</a>
	(神戸市産業振興センター)</dd>

 <dt>2010年3月20日</dt>
 <dd><a href="https://tokyodebian-team.pages.debian.net/2010-03.html">第62回 東京エリア Debian 勉強会</a>
	(東京 <a href="http://asahi-net.co.jp/jp/location/">朝日ネット</a> 会議室)</dd>

 <dt>2010年4月17日</dt>
 <dd><a href="https://tokyodebian-team.pages.debian.net/2010-04.html">第63回 東京エリア Debian 勉強会</a>
	(東京 稲城市立iプラザ 中会議室 )</dd>

 <dt>2010年4月25日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100425">第34回 関西 Debian 勉強会</a>
	(大阪 港区民センター 梅の間 )</dd>

 <dt>2010年5月15日</dt>
 <dd><a href="https://tokyodebian-team.pages.debian.net/2010-05.html">第64回東京エリアDebian勉強会</a> with 
<a href="http://www.tsukuba-linux.org/wiki/%E7%AC%AC13%E5%9B%9E%E3%81%A4%E3%81%8F%E3%82%89%E3%81%90%E5%8B%89%E5%BC%B7%E4%BC%9A">第13回つくらぐ勉強会</a>
	(茨城 筑波大学 第3エリア B棟 302室)</dd>

 <dt>2010年5月23日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100523">第35回 関西 Debian 勉強会</a>
	(大阪 福島区民センター 302会議室)</dd>

 <dt>2010年6月19日</dt>
 <dd><a href="https://tokyodebian-team.pages.debian.net/2010-06.html">第65回 東京エリア Debian 勉強会</a>
	(東京 代々木オリンピックセンター)</dd>

 <dt>2010年6月26日</dt>
 <dd><a href="http://www.ospn.jp/osc2010-do/modules/eguide/event.php?eid=22">Debian勉強会　出張版</a> @ 
<a href="http://www.ospn.jp/osc2010-do/">オープンソースカンファレンス2010 Hokkaido</a>
	(北海道 <a href="http://www.sapporosansin.jp/">札幌市産業振興センター 産業振興棟2F</a>)</dd>

 <dt>2010年6月27日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100627">第36回 関西 Debian 勉強会</a>
	(大阪 福島区民センター 302会議室)</dd>

 <dt>2010年7月9-10日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100709-0710">第37回 関西 Debian 勉強会</a>
	@ <a href="http://www.ospn.jp/osc2010-kyoto/">オープンソースカンファレンス2010@Kyoto</a>
 (京都 <a href="http://www.kcg.ac.jp/">京都コンピュータ学院 京都駅前校</a>)</dd>

 <dt>2010年8月1-7日</dt>
 <dd><a href="http://debconf10.debconf.org/">debconf10</a>
	(アメリカ ニューヨーク)</dd>

 <dt>2010年8月22日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100523">第38回 関西 Debian 勉強会</a>
	(大阪 福島区民センター 303会議室)</dd>

 <dt>2010年9月11日</dt>
 <dd> <a href="https://tokyodebian-team.pages.debian.net/2010-09.html">第68回東京エリアDebian勉強会</a> @
<a href="http://www.ospn.jp/osc2010-fall/">オープンソースカンファレンス2010 Tokyo/Fall</a>
	(明星大学 日野キャンパス 26号館)</dd>

 <dt>2010年9月26日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20100926">第39回 関西 Debian 勉強会</a>
	(京都 <a href="http://www.astem.or.jp/">(財)京都高度技術研究所(ASTEM)</a> 8階 コミュニケーションルーム)</dd>

 <dt>2010年10月16日</dt>
 <dd><a href="https://tokyodebian-team.pages.debian.net/2010-10.html">第69回 東京エリア Debian 勉強会</a>
	(東京 Niftyセミナールーム)</dd>

 <dt>2010年10月24日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20101024">第40回 関西 Debian 勉強会</a>
	(大阪 港区民センター 梅の間)</dd>

 <dt>2010年11月5-6日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20101105-1106">第41回 関西 Debian 勉強会 in 関西オープンソース2010</a>
	(大阪南港ATC ITM棟 6F マーレギャラリー)</dd>

 <dt>2010年11月20日</dt>
 <dd><a href="https://tokyodebian-team.pages.debian.net/2010-11.html">第70回 東京エリア Debian 勉強会</a>
	(東京 あんさんぶる荻窪)</dd>

 <dt>2010年12月18日</dt>
 <dd><a href="https://tokyodebian-team.pages.debian.net/2010-12.html">第71回 東京エリア Debian 勉強会</a>
	(東京 あんさんぶる荻窪)</dd>

 <dt>2010年12月26日</dt>
 <dd><a href="http://wiki.debian.org/KansaiDebianMeeting20101226">第42回 関西 Debian 勉強会</a>
	(大阪 福島区民センター 302会議室)</dd>

</dl>
